# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Ignore virtual environments
venv/
.venv/
env/
ENV/


# Ignore IDE/editor settings
.vscode/
.idea/
*.swp


# Ignore environment variable/config files
.env
.env.*
*.pem
*.crt
*.key


# Ignore git and version control
.git/
.gitignore

# Ignore Docker-related files if not needed inside container
Dockerfile
.dockerignore


# Ignore package managers cache
pip-wheel-metadata/
pip-log.txt